#SITE-LAYOUT {

   app-site-layout-header {
      position: fixed;
      top: 0;
      width: 100%;
   }

   app-site-layout-body {
      position:absolute;
      top: 60px;
      bottom:0;
      left:0px;
      right:0px;
      overflow:auto;
   }

   app-site-layout-footer {
      position:absolute;
      bottom:0px;
      left:0px;
      right:0px;
   }
}
